:root {
    --font-default: "DM Sans", Arial, Helvetica, sans-serif;
    --primary-font-color: #D3573C;
    --second-font-color: #911c1c;
    --primary-border-color: #C4C4C4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content:flex-end;
    width: 90%;
    margin:  0 auto;
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    padding-top: 45px;
    margin-right: 30%;
    height: 200px;
}

.main-header img {

}

.main-index-nav {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-top: 20px;
}

.tags-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
    justify-content: space-between;
}

.tags-list > li {
    display: flex;
    align-items: center;
    border: 0.5px solid var(--primary-border-color);
    border-radius: 11px;
    padding: 1px 5px;
}

.main-tag-link{
    text-decoration: none;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 600;
    color: var( --second-font-color);
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.blanc-wrapper {
    width: 75%;
    height: 200px;
}

.main-title {
    display: flex;
    padding-top: 50px;
    height: 200px;
    color:  var(--second-font-color);
    text-transform: capitalize;
}

.cards-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    width: 263px;
    height: 350px;
}

.profile-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    text-decoration: none;
}

.profile-img-big {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: none;
    object-fit: cover;
}

.profile-card-title {
    text-transform: capitalize;
    color: var(--primary-font-color);
    font-weight: 400;
    font-size: 36px;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 13%;
}

.profile-loc-text {
    text-transform: capitalize;
    color: var(--primary-font-color);
    font-size: 13px;
}

.profile-tagline {
    text-transform: capitalize;
    font-size: 10px;
}

.profile-price {
    text-transform: capitalize;
    font-size: 9px;
    color: var(--primary-border-color);
}


.profile-index-nav  li {
    margin: 0 2px;
    height: 7%;
}

.lower-tag-link {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: var( --second-font-color);
}