:root {
    --font-default: "DM Sans", Arial, Helvetica, sans-serif;
    --primary-font-color: #D3573C;
    --second-font-color: #911c1c;
    --second-bg-color: #DB8876;
    --primary-border-color: #C4C4C4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.main-anchor-wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 10px;
    width: 120px;
    height: 25px;
    margin: auto;
    z-index: 2;
    background: var(--second-bg-color);
    border: 0 none none;
    border-radius: 5px;
}

.main-anchor {
    text-decoration: none;
    color: black;
    font-size: 0.8em;
    font-weight: bold;
}

.first-letter-cap {
    text-transform: capitalize;
}

.main-wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content:flex-end;
    width: 90%;
    margin:  0 auto;
}

.main-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    z-index: 2;
    justify-content: space-between;
    width: 100%;
    padding-top: 40px;
    height: 200px;
}


.title-link {
    display: flex;
    margin-right: 60px;
}

.title-link > img {
    width: 150px;
    height: 37px;
}

.main-index-nav {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 85%;
    margin: 0 auto;
}

.tags-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.photographer-tag {
    display: flex;
    align-items: center;
    border: 0.5px solid var(--primary-border-color);
    border-radius: 11px;
    padding: 1px 5px;
    margin-bottom: 6px;
}

.photographer-tag > span{
    text-decoration: none;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 600;
    color: var( --second-font-color);
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.blanc-wrapper {
    width: 50%;
    height: 200px;
}

.main-title {
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
    width: 50%;
    font-size: 1em;
    height: 200px;
    color:  var(--second-font-color);
}

.cards-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-wrapper {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    width: 301px;
    height: 350px;
}

.profile-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    text-decoration: none;
}

.profile-img-big {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: none;
    object-fit: cover;
}

.profile-card-title {
    text-transform: capitalize;
    color: var(--primary-font-color);
    font-weight: 400;
    font-size: 36px;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 13%;
}

.profile-loc-text {
    text-transform: capitalize;
    color: var(--primary-font-color);
    font-size: 13px;
}

.profile-tagline {
    text-transform: capitalize;
    font-size: 10px;
}

.profile-price {
    text-transform: capitalize;
    font-size: 9px;
    color: var(--primary-border-color);
}


.profile-index-nav  li {
    margin: 0 2px;
    height: 7%;
}

.lower-tag-link {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: var( --second-font-color);
}


@media screen and (min-width: 630px) {
    .card-wrapper {
        display: flex;
        width: 50%;
        margin-bottom: 50px;
    }
    
    .card-wrapper:nth-child(2n+1) {
        justify-content: left;
    }
    
    .card-wrapper:nth-child(2n+2) {
        justify-content: center;
    }
    
}

@media screen and (min-width: 1000px) {
    .main-anchor-wrapper {
        width: 180px;
        height: 30px;
    }
    
    .main-anchor {
        text-decoration: none;
        color: black;
        font-size: 18px;
    }

    .main-wrapper {
       max-width: 1440px;
       justify-content:flex-start;
    }
            
    .main-header {
        padding-top: 45px;
        flex-wrap: nowrap;
        padding-top: 45px;
        width: 90%;
    }
        
    .title-link {
        margin-right: 0;
    }

    .main-index-nav {
        padding-top: 10px;
        width: 80%;
    }
        
    .tags-list {
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    
    .photographer-tag {
        margin-bottom: unset;
    }
    
    .blanc-wrapper {
        width: 80%;
        height: 150px;
    }
    
    .main-title {
        font-size: 2em;
        width: 30%;
        padding-top: 0;
        height: 100px;
    }
    
    .cards-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .card-wrapper {
        display: flex;
        width: 33.33%;
        margin-bottom: 50px;
    }
    
    .card-wrapper:nth-child(3n+1) {
        justify-content: left;
    }
    
    .card-wrapper:nth-child(3n+2) {
        justify-content: center;
    }
    
    .card-wrapper:nth-child(3n+3) {
        justify-content: right;
    } 
}

@media screen and (min-width: 1200px) {
    .main-header {
        padding-top: 45px;
        width: 65%;
        justify-content: flex-end;
        flex-wrap: nowrap;
        height: 200px;
    }

    .title-link {
        margin-right: unset;
        width: 25%;
        justify-content: flex-start;
    }

    .main-index-nav {
        padding-top: 10px;
        width: 65%;
        margin: unset;
    }

    .blanc-wrapper {
        width: 70%;
        height: 200px;
    }

    .main-title {
        padding-top: 42px;
        height: 200px;
        justify-content: flex-start;
    }
}