:root {
    --font-default: "DM Sans", Arial, Helvetica, sans-serif;
    --primary-font-color: #D3573C;
    --second-font-color: rgb(145, 28, 28, 1);
    --third-font-color: #757575;
    --primary-bg-color: rgb(219, 136, 118, 1);
    --primary-border-color: #C4C4C4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-default);
}

svg {
    width: 0;
    height: 0;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1440px;
}

.main-header {
    width: 100%;
}

.title-link {
    width: 150px;
    height: 37px;
}

.title-link  img {
    width: inherit;
    height: inherit;
}

main {
    position: relative;
    margin-top: 20px;
}

.card-wrapper {
    margin-bottom: 20px;
}

.id-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
}

.modal-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    z-index: 1;
    cursor: pointer;
    top: calc(50% - 16px);
    left: calc(50% - 113.5px);
    padding: 7px 48px;
    font-size: 1.1em;
    font-weight: 800;
    color: white;
    background:var(--second-font-color);
    border-radius: 5px;
    border-style: none;
    opacity: 1;
    transform: scaleX(1);
    transition: all 0ms ease-out;
}

.modal-button:focus {
    outline: none;
    color: black;
    background: var(--primary-bg-color);
}

.modal-button.not-visible {
    opacity: 0;
    transform: scaleX(0);
}

.tags-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.profile-img-big {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 5px var(--primary-border-color);
}

.profile-card-title {
    text-transform: capitalize;
    color: var(--primary-font-color);
    font-weight: 400;
    font-size: 36px;
    margin-top: 15px;
    letter-spacing: 1px;
}

.profile-loc-text {
    text-transform: capitalize;
    color: var(--second-font-color);
    font-size: 13px;
    margin: 2px 0;
}

.profile-tagline {
    text-transform: capitalize;
    font-size: 13px;
    color: var(--third-font-color);
    margin: 2px 0;
}

.profile-price {
    text-transform: capitalize;
    font-size: 13px;
    color: var(--primary-border-color);
}


.profile-index-nav  li {
    margin-right:  2px;
}

.photographer-tag {
    display: flex;
    align-items: center;
    border: 0.5px solid var(--primary-border-color);
    border-radius: 11px;
    padding: 1px 5px;
    margin-bottom: 6px;
    text-decoration: none;
}

.photographer-tag:focus{
    outline: none;
    background: var(--second-font-color);
}

.photographer-tag:focus > span {
    color: white;
}

.photographer-tag > span{
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 600;
    color: var( --second-font-color);
    cursor: pointer;
}

.sort-wrapper {
    display: none;
}

.media-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.gallery-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 190px;
    object-fit: cover;
    object-position: 50% 40%;
}

.gallery-video {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.gallery-image:hover, .gallery-image:focus {
    cursor: pointer;
    opacity: 0.5;
}

.gallery-video:hover, .gallery-image:focus {
    cursor: pointer;
    opacity: 0.5;
}

.media-text-wrapper {
    display: flex;
    position: relative;
    padding: 5px 0;
    color: var(--second-font-color);
    width: 100%;
    justify-content: space-between;
}

.media-title {
    display: flex;
    align-items: center;
    width: 68%;
    font-size: 14px;
    
}

.media-price {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight:600;
    letter-spacing: 1px;
}

.likes-text {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    justify-content: flex-end;
    align-items: center;
}

.like-input {
    position: absolute;
    top: 40%;
    left: -99999999px;
    opacity: 0;
}

.like-input:focus + .heart-label > .heart-svg {
    width: 1.1em;
    height: 1.1em;
}

.heart-label {
    width: 1em;
    height: 1em;
    margin-top: auto;
    margin-bottom: auto;
}

.heart-svg {
    width: 1em;
    height: 1em;
    fill:none;
    stroke: black;
    stroke-width: 20;
    transition: fill 4000ms ease-in-out;
    cursor: pointer;
}

.heart-svg[fill="true"] {
    fill: var(--second-font-color);
    stroke: none;
}

/* widget stats wrapper */

.stats-widget {
    display: none;
}

/* contact modal*/

.dial-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:rgba(255, 252, 252, 0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}

.dial-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: var( --primary-bg-color);
    padding-top: 30px;
    padding-bottom: 75px;
    border-radius: 5px;
    border-style: none;
}

.dial-bg.not-visible, .light-bg.not-visible {
    opacity: 0;
    transform: scaleX(0);
}

.form-header {
    display: flex;
    width: 90%;
    margin-bottom: 40px;
    justify-content: space-between;
}


.form-title {
    width: 70%;
    font-weight: 400;
    font-size: 2em;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.form-label {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.text-input {
    height: 52px;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 10px;
    font-size: 1em;
}

.text-aera {
    height: 52px;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 15px;
    font-size: 1em;
    resize: none;
    height: 184px;
}

.submit-button {
    color: white;
    padding: 7px 48px;
    font-size: 1.1em;
    font-weight: 800;
    background:var(--second-font-color);
    border-radius: 5px;
    border-style: none;
    margin: 0 auto;
    cursor: pointer;
}

/* cross style */

.form-close {
    height: 20px;
    width: 20px;
    margin-top: 5px;
    position: relative;
    border-style: none;
    background: none;
    cursor: pointer;
    transform: rotate(45deg);
}

.light-close {
    height: 10px;
    width: 10px;
}

.form-close:after, .form-close:before {
    position: absolute;
    content: "";
    background: white;
}

.light-close:after, .light-close:before {
    background: var(--second-font-color);
}

.form-close:after {
    top: calc(50% - 1px);
    left: 0;
    right: 0;
    height: 2px;
}
.form-close:before {
    left: calc(50% - 1px);
    top: 0;
    bottom: 0;
    width: 2px; 
}

/* light Box*/

.light-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:rgba(255, 252, 252, 1);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
}

.light-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 348px;
    height: 248px;
}

.image-wrapper {
    display: flex;
    width: 95%;
    height: 95%;
}

.light-image {
    width: 100%;
    height: 100%;
    margin-bottom: auto;
    margin-top: auto;
    object-fit: cover;
}

.light-video {
    width: 100%;
    height: 100%;
    margin-bottom: auto;
    margin-top: auto;
    object-fit: cover;
}

.light-box-title {
    display: inline-block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: var(--second-font-color);
    font-size: 0.8em;
}

.prev-button, .next-button {
    width: 12px;
    height: 20px;
    position: relative;
    margin-bottom: auto;
    margin-top: auto;
    border: none;
    background: transparent;
    cursor: pointer;
}


/* a simple chevron*/

.prev-button:after {
    content:'';
    width: 10px; 
    height: 10px; 
    border-right: 3px solid var(--second-font-color);
    border-bottom: 3px solid var(--second-font-color);
    position:absolute;
    transform: rotate(135deg);
    left:0;
    top:0;
    z-index:3;
}

.next-button::after {
    content:'';
    width: 10px; 
    height: 10px; 
    border-right: 3px solid var(--second-font-color);
    border-bottom: 3px solid var(--second-font-color);
    position:absolute;
    transform: rotate(-45deg);
    right:0;
    top:0;
    z-index:3;
}

@media screen and (min-width:730px) {

    .card-wrapper {
        max-width: 1240px;
        margin-right:  auto;
        margin-left: auto;
        margin-bottom: 100px;
        padding: 56px 50px;
    }

    .card {
       width: 43%;
    }

    /* modal button is now fixed*/
    .modal-button {
        display: flex;
        position:unset;
        padding: 15px 10px;
        font-size: 1em;
    }

    .modal-button.not-visible {
        opacity: unset;
        transform: unset;
    }

    .profile-img-big {
        width: 150px;
        height: 150px;
    }

    /* modal form*/

    .dial-wrapper {
        top: calc(50% - 47vh);
        left: calc(50% - 334.5px);
        max-width: 669px;
        padding-bottom: 45px;
    }

    .form-header {
        margin-bottom: 20px;
    }

    .form-title {
        font-size: 4em;
        width: 90%;
    }

    .form-close {
        width: 42px;
        height: 42px;
    }

    .light-close {
        height: 20px;
        width: 20px;
    }

    .submit-button {
        max-width: 170px;
        margin: unset;
        padding: 22px 48px;
    }

    /* sort selector */
    .sort-wrapper {
        display: flex;
        top: 270px;
        position: absolute;
    }

    .sort-wrapper-label {
        margin-right: 15px;
        font-weight: 800;
        font-size: 1.1em;
        padding-top: 5px;
        margin-bottom: 0;
    }

    .select {
        display:flex;
        flex-direction: column;
        position:relative;
        cursor: pointer;
        background: var(--second-font-color);
        border-radius: 5px;
        padding: 6px 10px;
        min-width: 145px;
    }

    .option {
        padding:10px 40px 10px 10px;
        display:flex;
        align-items:center;
        color: white;
        order: 2;
        z-index: 1;
        position:absolute;
        top:0;
        overflow:hidden;
        white-space:nowrap;
        background: transparent;
        pointer-events:none;
    }
 
    .select:focus .option {
        position:relative;
        pointer-events:all;
        cursor: pointer;
        background: transparent;
        border-top:1px solid white;
        pointer-events:all;
    }
    
    .options-select {
        opacity:0;
        position:absolute;
        left: -999999px;
    }
    
    .options-select:checked + .option {
        order: 1;
        z-index:2;
        border-top:none;
        position:relative;
        background: var(--second-font-color);
        border-radius: 5px;
        pointer-events:none;
    }

    /* a simple chevron*/
    .options-select:checked + .option:after {
        content:'';
        width: 10px; 
        height: 10px; 
        border-right: 3px solid white;
        border-bottom: 3px solid white;
        position:absolute;
        transform: rotate(-135deg);
        right:10px;
        top:calc(50% - 2.5px);
        pointer-events:none;
        z-index:3;
    }
     
    /* medias -wrapper*/

    .medias-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .media-wrapper {
        width: 48%;
    }

    .gallery-image {
        width: 100%;
        height: 230px;
        object-fit: cover;
    }
    
    .gallery-video {
        width: 100%;
        height: 230px;
        object-fit: cover;
    }

    .media-text-wrapper {
        max-width: 350px;
    }

    /* contact form */

    .text-input {
        font-size: 26px;
    }
    
    .text-aera {
        font-size: 26px;
    }

    /* light-box*/

    .light-box-title {
        width: 92%;
        font-size: 1em;
    }
}

@media screen and (min-width:800px) {

    /* modal button*/
    .modal-button {
        left: 320px;
        font-size: 1.1em;
    }

    /* light box*/

    .light-box {
        display: flex;
        max-width: 1242px;
        width: 90%;
        height: 90%;
    }


    /* stats widget*/

    .stats-widget {
        display: flex;
        position: sticky;
        justify-content: space-between;
        margin-left: auto;
        bottom: 0px;
        max-width: 276px;
        padding: 10px 30px;
        background: var(--primary-bg-color);
        font-size: 1.5em;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        font-weight:500;
    }
    
    .widg-likes-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .widg-heart-svg {
        width: 0.9em;
        height: 0.9em;
        margin-left: 5px;
    }
}

@media screen and (min-width:1000px) {


    /*light-box*/

    .light-box-title {
        width: 93.5%;
        font-size: 1em;
    }

    .title-link img {
        width: 200px;
        height: 50px;
    }

    /* profile card*/

    .card {
        width: unset;
    }

    .profile-img-big {
        width: 200px;
        height: 200px;
    }

    .profile-card-title {
        font-weight: 400;
        font-size: 4em;
        margin-top: 15px;
        letter-spacing: 1px;
    }
    
    .profile-loc-text {
        font-size: 1.5em;
        margin: 2px 0;
    }
    
    .profile-tagline {
        font-size: 1.1em;
        margin: 2px 0;
    }

    .photographer-tag > span{
        text-transform: none;
        font-size: 1.1em;
    }
    

    .modal-button {
        left: 450px;
        top: 78px;
        font-size: 1.1em;
        padding: 23px 10px;
    }

    /* sort section*/

    .sort-wrapper {
        top: 340px;
    }

    .option {
        padding: 15px 40px 15px 10px;
    }

    .media-wrapper {
        width: 33.33%;
        margin-bottom: 20px;
    }

    .gallery-image {
        width: 100%;
        max-width: 350px;
        height: 300px;
        object-fit: cover;
    }
    
    .gallery-video {
        width: 100%;
        max-width: 350px;
        height: 300px;
        object-fit: cover;
    }
    
    .media-title {
        font-size: 1.5em;
    }
    
    .media-price {
        display: flex;
        align-items: center;
        font-size: 1.5em;
        font-weight:500;
        letter-spacing: 1px;
    }
    
    .likes-text {
        display: flex;
        font-size: 1.5em;
        font-weight: 500;
        justify-content: flex-end;
        align-items: center;
    }

    /* stats widget*/

    .stats-widget {
        max-width: 376px;
        padding: 15px 50px;
        font-size: 1.5em;
    }
    
    .widg-heart-svg {
        width: 0.9em;
        height: 0.9em;
        margin-left: 5px;
    }
    
}